

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
    text-decoration: none;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo-accent{
  color: #2e2f42;  
}

nav a {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}
.address {
    font-style: normal;
}
address a{
    font-style: normal;
}
nav a:hover,
nav a:focus,
address a:hover,
address a:focus {
  color: #404bbf;
}

.header {
  background-color: #ffffff;
}
.header-nav{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.header-logo-accent {
  color: #2e2f42;
}


.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link.current {
  color: #404bbf;
}


.header-address {
  font-style: normal;
}

.address-list {
  list-style: none;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2E2F42;
}

.hero-title {
    text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
}

.hero-button {
    font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #4D5AE5;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
     background-color: #404bbf;
}
                /* section 2 */

.strengths-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
    letter-spacing: 0.02em;
  color: #2E2F42;
}

.strengths-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

                /* section 3 */
.team {
  background-color: #f4f4fd;
}

.team-title {
    text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.team-list {
  list-style: none; 
}

.team-item {
  background-color: #ffffff;
}
.team-item-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-item-text {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

                /* section 4 */
.portfolio {
    background-color: #f4f4fd;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-filter-list {
  list-style: none;
}

.portfolio-filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.portfolio-list {
  list-style: none;
}

.portfolio-item{
    background-color: #ffffff;
}
.portfolio-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
  background-color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}